<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Блог</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
<nav>
    <a href="{{ url_for('index') }}">Главная</a>
    <a href="{{ url_for('blog') }}">Блог</a>
    <a href="{{ url_for('contacts') }}">Контакты</a>
</nav>
<div class="container">
    <h2>Привет!</h2>
    <p>Меня зовут Полина и со мной не нужно позировать – да-да, никаких статичных поз. Я предлагаю действия
        и, если понадобится, поправляю и направляю во время съемки, именно поэтому мои фотографии такие живые,</p>
    <p> а люди на них настоящие.</p>
    <h2>Про что я снимаю?</h2>
    <p>Про любовь. К себе и к близким. Моя главная цель – не просто сделать красивое фото, а уловить ваши эмоции в
        моменте и превратить нашу съёмку в приятное воспоминание.</p>
    <h3>Lovestory</h3>
    <img src="../static/image/lovestory-1.jpg" alt="Lovestory 1">
    <img src="../static/image/lovestory-2.jpg" alt="Lovestory 2">
    <img src="../static/image/lovestory-3.jpg" alt="Lovestory 3">
    <img src="../static/image/lovestory-4.jpg" alt="Lovestory 4">
    <img src="../static/image/lovestory-5.jpg" alt="Lovestory 5">
    <img src="../static/image/lovestory-6.jpg" alt="Lovestory 6">
    <img src="../static/image/lovestory-7.jpg" alt="Lovestory 7">
    <img src="../static/image/lovestory-8.jpg" alt="Lovestory 8">
    <h3>Свадьба</h3>
    <img src="../static/image/wedding-1.jpg" alt="Свадьба 1">
    <img src="../static/image/wedding-2.jpg" alt="Свадьба 2">
    <img src="../static/image/wedding-3.jpg" alt="Свадьба 3">
    <img src="../static/image/wedding-4.jpg" alt="Свадьба 4">
    <img src="../static/image/wedding-5.jpg" alt="Свадьба 5">
    <img src="../static/image/wedding-6.jpg" alt="Свадьба 6">
    <img src="../static/image/wedding-7.jpg" alt="Свадьба 7">
    <img src="../static/image/wedding-8.jpg" alt="Свадьба 8">
    <h3>Семейные</h3>
    <img src="../static/image/family-1.jpg" alt="Семейные 1">
    <img src="../static/image/family-2.jpg" alt="Семейные 2">
    <img src="../static/image/family-3.jpg" alt="Семейные 3">
    <img src="../static/image/family-4.jpg" alt="Семейные 4">
    <img src="../static/image/family-5.jpg" alt="Семейные 5">
    <img src="../static/image/family-6.jpg" alt="Семейные 6">
    <img src="../static/image/family-7.jpg" alt="Семейные 7">
    <img src="../static/image/family-8.jpg" alt="Семейные 8">
</div>
</body>
</html>